.titleBlock {
	width: 23.5vw;
	font-family: 'GolosMedium';
}

.title {
	margin: 0 0 30px;
}

.titleText {
	line-height: 27px;
}

.subtitle {
	margin: 0 0 45px;
}

.list {
	margin: 0;
	padding: 0 0 0 20px;
}

.item + .item {
	margin: 15px 0 0;
}

.howThisWork {
	display: flex;
	flex-direction: column;
}

.gridBlock {
	display: grid;
	grid-template-columns: max-content 1fr;
	/* column-gap: 90px; */
	row-gap: 20px;
}

.rightBlock {
	margin: 0 0 0 90px;
	display: flex;
	align-items: center;
}
.rightBlock p {
	margin: 0 0 0 25px;
	font-family: 'GolosMedium';
}

.rightBtmText {
	font-size: 15px;
	line-height: 18px;
}
