.container {
	display: flex;
}

.document {
	margin: 0 20px 0 0;
	padding: 10px;
	width: 80%;
	min-height: 300px;
	border: 1px solid blue;
	box-sizing: border-box;
}

.menu {
	padding: 10px;
	width: 20%;
	border: 1px solid red;
}
